    .imgCenter {

    }

    .game {
        display: flex;
        justify-content: space-between;
        align-items: start;
        margin-bottom: 20px;  /* Space between games */
    }

    .gameText {
        flex: 0 0 40%;  /* Takes up 40% of the space */
    }

    .gameMedia {
        flex: 0 0 60%;  /* Takes up 60% of the space */
        display: flex;
        flex-direction: column;
    }
   
   
   
   /* Style the navigation bar */
   .topnav {
    overflow: hidden;
    background-color: #333;
  }

  /* Style the links inside the navigation bar */
  .topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }

  /* Change the color of links on hover */
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }

  /* Add an active class to highlight the current page */
  .active {
    background-color: #4CAF50;
    color: white;
  }

  /* Center the page */
  @keyframes gradient {
        0% {background-position: 0% 50%;}
        50% {background-position: 100% 50%;}
        100% {background-position: 0% 50%;}
    }
    .logoStyle {
        width: 25px;
        height: 25px;
    }
    .logoStyleHeader {
        width: 50px;
        height: 50px; 

        transition: all 0.15s ease-in-out;  /* Smooth transition */
    }
    
    .logoStyleHeader:hover {
        transform: scale(1.3);  /* Increase width */
         /* Increase height */
    }
    .content {
        max-width: 960px;
        margin: auto;
        text-align: center;
        position: relative;
        z-index: 1;
        padding: 20px;
        border-radius: 10px;
        margin-bottom: 25px;
        border: 1px solid gray;
        background: linear-gradient(-45deg, #ffffffc8, #f8f8f8c8, #f0f0f0c8, #e8e8e8c8);
        
        background-size: 400% 400%;
        

        animation: gradient 15s ease infinite;
    }
    .icons {
        display: flex;
        gap: 15px;
    }
    .logos {
        display: flex;
        gap: 30px;
    }

    .profileDiv {
        display: flex;
        justify-content: space-between;
        align-items: start;
    }

    .profileText {
        flex: 2;  /* Takes up 2/3 of the space */
    }

    .profileImage {
        flex: 1;  /* Takes up 1/3 of the space */
    }

    .profileImage img {
        width: 100%;
        height: auto;
    }

    
    .headerContent {
        max-width: 960px;
        margin: auto;
        position: relative;
        z-index: 1;
        padding: 20px;
        border-radius: 10px;
        margin-bottom: 25px;
        border: 1px solid gray;
        background: linear-gradient(-45deg, #ffffffc8, #f8f8f8c8, #f0f0f0c8, #e8e8e8c8);
        background-size: 400% 400%;
        animation: gradient 15s ease infinite;

        display: flex;
        justify-content: space-between;
        align-items: center;

    }



  /* Add horizontal and vertical lines */
  hr {
    border: none;
    border-top: 1px solid #ccc;
    margin: 20px 0;
  }

  .border {
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
    padding: 20px;
  }

  /* Style the canvases */
  #gradientCanvas, #boidsCanvas {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 0;
  }
  .hbox-container {
        display: flex;
    }

    .vbox {
        flex: 1;
    }

    .image-container {
      position: relative;
      width: 500px;
      height: 300px;
    }

    .mySlides {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: contain;
      opacity: 0;
      transition: opacity 2s;

      display: block;
      margin-left: auto;
      margin-right: auto;

    }

